<h2>Confirme ta mort !</h2>

<p>Salut <%= @target.first_name %> <%= @target.last_name %>, </p>

<p> On dirait que <%= @hunter.first_name %> <%= @hunter.last_name %> t'a tué, connecte toi sur <%= link_to ENV['WEBSITE_URL'], ENV['WEBSITE_URL'] %> pour confirmer ta tragique mort.<p>

