  <div class="row" >
      <% @participant.targets.each do |target| %>

       <div class="col-sm-2 col-md-2"> 
        <div class="thumbnail img-thumbnail">
          <img alt="100%x200" src="https://etu.utt.fr<%= target.pursued.image %>" class="img-thumbnail" data-holder-rendered="true" style="width: 100%; display: block;">
          <div class="caption">
            
            <p><%= target.pursued.first_name %> <%= target.pursued.last_name %></p>
            <% if target.killed? %>
              <p><span class="label label-success">CIBLE ATTEINTE</span> </p>
            <% elsif target.suffering? %>
              <p>
                <span class="label label-warning">CONFIRMATION</span>
                 <span class="label label-warning">EN COURS</span>
              </p>
            <% elsif target.unreached? %>
              <p><span class="label label-warning">CIBLE NON ATTEINTE</span></p>
            <% else %>
              <p><%= link_to 'J\'AI ATTEINT MA CIBLE', kill_path(target.pursued.login),:method => :put, class:'btn btn-default' %></p>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>

    <% nb_fake_target = @participant.targets.count <= 6 ? 6 - @participant.targets.count : 0 %>

    <% nb_fake_target.times.each do |t| %>

      <%= render 'pages/no_target_div' %>

    <% end %>
  </div>
<hr />

     <% if @participant.alive? %>

     <% if @participant.suffering? %>
  <p>
    <i><%= @participant.hunter.first_name %> <%= @participant.hunter.last_name %> a indiqué vous avoir tué : est-ce vrai ? </i>
    <%= link_to "OUI", confirm_my_death_path, :method => :put, class:'btn btn-success' %>
    <%= link_to "NON", deny_my_death_path,:method => :put, class:'btn btn-danger' %>
</p>

  <% if @participant.target.suffering? %>
    <div class="alert alert-danger" role="alert"><p><b>Un énorme conseil :</b> On dirait que tu as tué ta cible et que sa mort est en "attente de confirmation" de sa part. Avant de confirmer ta propre mort, attend que ta cible confirme que tu l'as bien tué. 
    Autrement, cette cible ne sera pas comptabilisé dans ton tableau des cibles atteintes.</p></div>
  <% end %>

  <% end %>

     <%= link_to "La personne qui me menace m'a tué", confirm_my_death_path, :method => :put, class:'about-section-btn', :data => { :confirm => 'Es-tu sur de continuer ? Tu vas mourir si tu cliques sur oui'}  %>


               
    <% else %>
      <p><i>Malheureusement, l'aventure s'arrête ici.<br /> Tu as été tué par <%= @participant.hunters.first.hunter.first_name %> <%= @participant.hunters.first.hunter.last_name %>.</i></p> 
    <% end %>
      <hr />