<section class="big-background">
    <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=cwx_4z6XbW0',containment:'body',autoPlay:true, mute:true, startAt:32, opacity:1}"></a>
    
    <div class="pattern"></div> 
        <div class="big-background-container">
                <h1 class="big-background-title">LE KILLER</h1>
                <div class="divider"></div>
                <h1 id="colorize">du <%= l(Game.current.beginning, format: :only_day) %> au <%= l(Game.current.ending,format: :day_month_year) %></h1>

                <% if user_signed_in? %>
                <p class='big-background'>
                    Hey, salut <b><%= current_user['firstName'] %> <%= current_user['lastName'] %> ! </b> 
                </p>
                <p></p>
                    <p class='big-background'> 
                        <% if @participant.paid %>
                            <% if Game.current.open? %>

                                <%= render 'game_open' %>                    

                            <% else %>
                                
                                <%= render 'waiting_for_game_openning' %>

                            <% end %>

                        <% else %>

                            <%= render 'payment_is_waiting' %>
                            
                        <% end %>

                    </p>
                    <p>
                        <%= link_to "JE ME DECONNECTE DE CET ESPACE ULTRA SECRET", oauth2_sign_out_path, class: "big-background-btn" %>
                    </p>
                <% else %>
                <p class='big-background'> 

                        C'est ici que tu auras toutes les infos sur tes cibles !
                    </p>

                    <p>
                    <%= link_to "JE M'INSCRIS", sign_up_path, class: "big-background-btn" %>
                    <%= link_to "JE ME CONNECTE", sign_in_path, class: "big-background-btn" %>
                </p>
                <% end %>
        </div>                                                    
</section>
  <% if user_signed_in? && @participant.paid && Game.current.open? %>
    <%= render 'targets' %>
  <% end %>
</div>