<%= simple_form_for @participant, :html => { :class => 'form-horizontal' } do |f| %>
  
  <% if @participant.persisted? %>
  	<%= f.input :login, disabled: true %>
  <% else %>
  	<%= f.input :login %>
  	<%= error_span(@participant[:login]) %>
  <% end %>

  <p> Inscription payé : <%= f.input_field :paid, as: :boolean, boolean_style: :inline %>

  <%= error_span(@participant[:paid]) %>
</p>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                participants_path, :class => 'btn btn-default' %>
<% end %>
