<% url = if @participant.persisted? 
          ENV['RAILS_RELATIVE_URL_ROOT']+participant_path(@participant)
         else
          ENV['RAILS_RELATIVE_URL_ROOT']+participants_path
         end
 %>

  <%= simple_form_for @participant, url: url, :html => { :class => 'form-horizontal' } do |f| %>
  
  <% if @participant.persisted? %>
  	<%= f.input :login, disabled: true %>
  <% else %>
  	<%= f.input :login %>
  	<%= error_span(@participant[:login]) %>
  <% end %>

  <p> Inscription payé : <%= f.input_field :paid, as: :boolean, boolean_style: :inline %>

  <%= error_span(@participant[:paid]) %>
</p>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ENV['RAILS_RELATIVE_URL_ROOT']+participants_path, :class => 'btn btn-default' %>
<% end %>
