<%- model_class = Participant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Nom</th>
      <th>Login</th>
      <th>Email</th>
      <th>Inscription</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @participants.order(updated_at: :desc).each do |participant| %>
      <tr>
        <td><%= user_image(participant.image) %></td>
        <td><%= participant.first_name %> <%= participant.last_name %></td>
        <td><%= participant.login %></td>
        <td><%= participant.email %></td>
        <td>
          <% if participant.paid %>
            <span class="label label-success">PAYÉ</span>
          <% else %>
            <span class="label label-warning">EN ATTENTE</span>
          <% end %>
        </td>

       

        <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_participant_path(participant), :class => 'btn btn-default btn-xs' %>
         <%= link_to 'Cibles', targets_participant_path(participant), :class => 'btn btn-xs btn-default'  %>
        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


