<%= render "pages/progress_bar" %>
<% @participants.each do |participant| %>
	
	 
	 	<div class="row">

	 		<div class="col-md-2">
	 		<h1><%= participant.first_name %> <%= participant.last_name %></h1>
	 		<%= user_image(participant.image) %>
	 		</div>
	 		<div class="col-md-10">

	 			<% @participant = participant %>
				<%= render "pages/targets_grid" %>
			</div>
			</div>

		<hr />
	

<% end %>