<%- model_class = Participant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>



<div class="row">
    <div class="col-md-4"><%= user_image(@participant.image) %>
      <b><%= @participant_info['fullName'] %></b>
    </div>
    <div class="col-md-8">


      <table class="table table-bordered">
        <tbody>
            
            <tr><td><b>Login</b></td><td><%= @participant.login %></td></tr>
            <tr>
              <tr><td><b>Student ID</b></td><td><%= @participant.student_id %></td></tr>
            <tr>
              <td><b>Nom</b></td><td><%= @participant.first_name %> <%= @participant.last_name %></td>
            </tr>
            <tr>
              <td><b>Email</b></td><td><%= @participant.email %></td>
            </tr>
            <tr>
                <td><b>Inscription</b></td>
                <td>
                  <% if @participant.paid %>
                    <span class="label label-success">PAYÉ</span>
                  <% else %>
                    <span class="label label-warning">EN ATTENTE</span>
                  <% end %>
              </td>
            </tr>
        </tbody>
      </table>



    </div>

</div>



<%= link_to t('.back', :default => t("helpers.links.back")),
              participants_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_participant_path(@participant), :class => 'btn btn-default' %>


<%= link_to 'Cibles', targets_participant_path(@participant), :class => 'btn btn-default'  %>
